<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/clear.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/header.css')}}" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/footer.css')}}" />
	{% block children_css_js %}{% endblock children_css_js %}
</head>
<body>
	<header>
		<div class="tegukidzan">
			<span class="decor"></span>
			<nav>
			  <ul class="zortsavtun">
			    <li>
			      <a href="/">Main page</a>
			    </li>
			    <li>
			      <a href="/sing_up">Sing up</a>
			    </li>
			    <li>
			      <a href="/sing_in">Sing in</a>
			    </li>
			    <li>
			      <a href="/logout">Logout</a>
			    </li>
			  </ul>
			</nav>
		</div>
	</header>