{% extends "/index.html" %}

{% block children_css_js %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/sing_up.css')}}" />
	<script src="{{url_for('static', filename = 'js/sing_up.js')}}"></script>
{% endblock children_css_js %}

{% block body %}
<form method="post">
  <h2>Sing up</h2>
  <span class="hug-input">
    <input name="login" type="text" class="input-data" placeholder="login"/>
    {% if errors.login %}
    <span class="error-message">Login is busy</span>
    {% else %}
    {% endif %}
  </span>
  <span class="hug-input">
    <input name="ak_id" type="text" class="input-data" placeholder="access key id"/>
    {% if errors.access_key_id %}
    <span class="error-message">Access key id is incorrect</span>
    {% else %}
    {% endif %}
  </span>
  <span class="hug-input">
    <input name="sak" type="password" class="input-data" placeholder="secret access key"/>
    {% if errors.secret_access_key %}
    <span class="error-message">Secret access key is incorrect</span>
    {% else %}
    {% endif %}
  </span>
  <span class="hug-input">
    <input name="password" type="password" class="input-data"placeholder="password"/>
  </span>
  <span class="hug-input">
    <input name="check_password" type="password" class="input-data"placeholder="check password"/>
    {% if errors.password %}
    <span class="error-message">The password is incorrect</span>
    {% else %}
    {% endif %}
  </span>

  <button class="submit"><span class="entypo-lock">Send</span></button>
</form>
{% endblock %}